<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/LogoFinalvector.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation>

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active">
      <a href="#/">
        <i class="fa fa-flask"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- /dashboard -->

    <!-- ui -->
    <li data-ng-class="{open: $state.includes('app.ui')}">
      <a href="javascript:;">
        <i class="fa fa-toggle-on"></i>
        <span>Users</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.users.managerusers">
            <span>Manager Users</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.users.createuser">
            <span>Create User</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /ui -->

    <!-- forms -->
    <li data-ng-class="{open: $state.includes('app.ui')}">
      <a href="javascript:;">
        <i class="fa fa-tint"></i>
        <span>Posts</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.posts.managerposts">
            <span>Manager Posts</span>
          </a>
        </li>
      
      </ul>
    </li>
    <!-- /forms -->

      <!-- forms -->
      <li data-ng-class="{open: $state.includes('app.ui')}">
          <a href="javascript:;">
              <i class="fa fa-tint"></i>
              <span>Comments</span>
          </a>
          <ul class="sub-menu">
              <li ui-sref-active="active">
                  <a ui-sref="app.comments.managercomments">
                      <span>Manager Comments</span>
                  </a>
              </li>

          </ul>
      </li>
      <!-- /forms -->
      <!-- forms -->
      <li data-ng-class="{open: $state.includes('app.ui')}">
          <a href="javascript:;">
              <i class="fa fa-tint"></i>
              <span>Roles</span>
          </a>
          <ul class="sub-menu">
              <li ui-sref-active="active">
                  <a ui-sref="app.roles.managerroles">
                      <span>Manager Roles</span>
                  </a>
              </li>
              <li ui-sref-active="active">
                  <a ui-sref="app.roles.createroles">
                      <span>Create Role</span>
                  </a>
              </li>
          </ul>
      </li>
      <li data-ng-class="{open: $state.includes('app.ui')}">
          <a href="javascript:;">
              <i class="fa fa-tint"></i>
              <span>Users System</span>
          </a>
          <ul class="sub-menu">
              <li ui-sref-active="active">
                  <a ui-sref="app.usersystems.managerusersystems">
                      <span>Manager Users System</span>
                  </a>
              </li>
              <li ui-sref-active="active">
                  <a ui-sref="app.usersystems.createusersystem">
                      <span>Create User System</span>
                  </a>
              </li>
          </ul>
      </li>
      <li data-ng-class="{open: $state.includes('app.ui')}">
          <a href="javascript:;">
              <i class="fa fa-tint"></i>
              <span>Setting</span>
          </a>
          <ul class="sub-menu">
              <li ui-sref-active="active">
                  <a ui-sref="app.setting.badwords">
                      <span>Bad Words</span>
                  </a>
              </li>
          </ul>
       </li>
  </ul>
</nav>
<!-- /main navigation -->
