<div class="panel" data-ng-controller="managercommentcontroller">
    <div class="panel-body">
        <table dt-columns="dtColumns"  dt-options="dtOptions"   class="table table-bordered bordered table-striped table-condensed datatable" datatable=""   >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Date Create</th>
                    <th >Created By</th>
                    <th>Flags</th>
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comment in commentsmanager">
                    <td  style="width:5%">{{ comment.id }}</td>
                    <td style="width:40%">{{ comment.answer }}</td>
                    <td  style="width:10%">{{ comment.answer_date }}</td>
                    <td  style="width:10%">{{ comment.email }}</td>
                    <td style="width:5%">{{ comment.numberOfFlag }}</td>
                    <td style="width:30%">
                    <button type="button" ng-click="viewimages(comment)" class="btn btn-primary">View Images</button> 
                    <button ng-click="blockcomment(comment)" type="button" class="btn btn-danger">{{getBlockTitle(comment)}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="ModelslideImages.html">
    <div class="container" >
        <div class="imageContainer" ng-repeat="image in images" ng-hide="!isCurrentIndex($index)">
            <img class="imageWrapper" src="{{image.url}}"
                 ng-swipe-left="showNext()" ng-swipe-right="showPrevious()"/>
          
        </div>

        <nav>
            <div class="thumbnailWrapper">
                <img ng-repeat="image in images" class="thumbnail" ng-class="{'active':isCurrentIndex($index)}" ng-click="setCurrentIndex($index);" src="{{image.thumb}}"/>
            </div>
        </nav>
    </div>
</script>